<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>LoginRegistration</title>
  </head>
  <body>
      <h1>Welcome!</h1>
          {% if messages %}
          <div class="messages">
              {% for message in messages %}
              <p>{{ message }}</p>
              {% endfor %}
          </div>
          {% endif %}

      <div class="Registration">
             <form class="reg" action="/register" method="POST">
                {% csrf_token %}
                  <p>Please Register</p>
                  <label>
                    Name:<input type="text" name="name">
                    <p></p>
                    Alias:<input type="text" name="alias">
                  </label>
                  <label>
                    <p></p>
                   Email:<input type="text" name="email" value="">
                  </label>
                  <label>
                   Date Of Birth:<input type="date" name="dob">
                    <p></p>
                  <label>
                    <p></p>
                      Password:<input type="password" name="password">
                    <p></p>
                      Password:<input type="password" name="passconf">
                  </label>

                  <input type="submit" value="Click here to register">
              </form>



        </form>
      </div>
      <div class="Login">
        <form class="log" action="/login" method="POST">
          {% csrf_token %}
          <p>Login Below</p>
          <label>
            Email:  <input type="text" name="email" value="">
          </label>
          <p></p>
          <label>
            Password:<input type="password" name="password" value="">
          </label>
          <input type="Submit" value="Login">
        </form>
      </div>

  </body>
</html>
